---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import { Image, getImage } from "astro:assets";
import { authors } from "@/data/authors";
import Pagetitle from "@/components/pagetitle.astro";
import Link from "@/components/ui/link.astro";


---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        authors.slice(0, 3).map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                src={item.image}
                format="avif"
                width={580}
                height={580}
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h3 class="text-sm text-gray-500 dark:text-gray-300">
                {" "}
                {item.name}
              </h3>
            </div>
          </div>
        ))
      }
    </div>

    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400">
        Hi friends, welcome to my website! I’m Meral Sahin. Originally from Istanbul, I’ve embraced London as my home for the past decade. I have a wide range of interests - healthy eating, yoga, traveling, and music are just a few. You may know me as a Solutions Architect from my day job but this website is dedicated to two of my greatest passions outside of technology: nature and art.
      </p>    
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400">
        Here, you’ll find my artwork, inspired by the beauty of nature and my travels around the world. For me, painting is a way to process my emotions and find peace and joy. Whenever I feel like I did not express myself correctly, I always go back to it as a safe space and pour my heart out on a canvas. I hope my work speaks to you in some way. Everyone’s interpretation is unique, and that’s what I love about art. I invite you to look beyond the surface and let me know if you discover any hidden images. I blend impressionist and abstract styles, leaving space for your imagination.
      </p>
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400">
        While the pieces here are not for sale, feel free to reach out if you have a special request. Enjoy!        
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
