---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Contactform from "@/components/contactform.astro";
import Pagetitle from "@/components/pagetitle.astro";
---

<Layout title="Contact">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Handmade locally. Loved globally. Shipped worldwide.</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 dark:text-gray-200">
          I’d love to hear from you.
        </h2>
        <p
          class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 mt-3">
          Reach out to me if you have any questions or want to discuss a custom order. 
        </p>
        <div class="mt-5">
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="heroicons:map-pin" />
            <span>Greenwich, London</span>
          </div>
          <!-- <div
            <a
              href="https://www.instagram.com/meralsahinnn/"
              rel="noopener"
              target="_blank">
              instagram
            </a>
          </div> -->
          <!-- <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="heroicons:envelope" /><a
              href="mailto:hello@stablotemplate.com">hello@stablotemplate.com</a
            >
          </div><div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="heroicons:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div> -->
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
