---
import Container from "@/components/container.astro";
import Pagetitle from "@/components/pagetitle.astro";
import Postlist from "@/components/postlist.astro";
import Layout from "@/layouts/Layout.astro";
import { latestPosts } from "@/utils/content";
import { Image } from "astro:assets";
import logoImage from "@/assets/soon.png";

---

<Layout title="NFTs">
  <Container>
    <Pagetitle>
      <Fragment slot="title">NFTs</Fragment>
      <Fragment slot="desc">Digital Fine Art</Fragment>
    </Pagetitle>
    <main>
      <div class="flex items-center justify-between w-full md:w-auto">
        <a class="w-28 dark:hidden" href="/">
          <Image src={logoImage} alt="Logo" 
            width={580}
            height={580}
          />
        </a>
    </main>
  </Container>
</Layout>

